Importamos las librerías:

In [1]:
#Importamos librerias

import camelot
import pandas as pd
import datetime
from funciones import tabla_a_datos, campos_calculados
import glob

Con *camelot* leemos el pdf que le digamos y extraemos las tablas en bruto:

In [2]:
## Datos a importar

file = 'NATACION_BENJAMIN_1_RESULTADOS_2122.pdf'
# tablas = camelot.read_pdf(file, pages='all', flavor='stream', split_text=' ')
tablas = camelot.read_pdf(file, pages='all', flavor='stream', split_text='\n')
tablas.n

15

Modificamos las tablas para que tengan el formato que nos interese:

In [3]:
# Liga Benjamin

competicion = 'Benjamín, jornada 1'
lugar = 'C.N. Helios'
fecha = datetime.datetime(2021,11,20)


# Modifico tabla 4, que hay un error en ella
df4=tablas[4].df.copy()
df4[1][3]=df4[1][3]+'a'
df4[2][3]=df4[2][3].split('\n')[1]


lista_df=[
tabla_a_datos(tablas[0].df, fila_datos = 4, fecha=fecha, prueba='50m Espalda', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[1].df, fila_datos = 1, fecha=fecha, prueba='100m Espalda', m_f='M', tipo=2, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[2].df, fila_datos = 2, fecha=fecha, prueba='100m Espalda', m_f='M', tipo=2, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[3].df, fila_datos = 3, fecha=fecha, prueba='50m Espalda', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(df4, fila_datos = 3, fecha=fecha, prueba='50m Espalda', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[5].df, fila_datos = 4, fecha=fecha, prueba='100m Espalda', m_f='F', tipo=3),
# tabla_a_datos(tablas[6].df, fila_datos = 2, fecha=fecha, prueba='100m Espalda', m_f='F', tipo=3),
tabla_a_datos(tablas[5].df, fila_datos = 4, fecha=fecha, prueba='100m Espalda', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[6].df, fila_datos = 2, fecha=fecha, prueba='100m Espalda', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[7].df, fila_datos = 4, fecha=fecha, prueba='50m Libre', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[8].df, fila_datos = 4, fecha=fecha, prueba='100m Libre', m_f='M', tipo=2, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[10].df, fila_datos = 2, fecha=fecha, prueba='100m Libre', m_f='M', tipo=3),
tabla_a_datos(tablas[10].df, fila_datos = 2, fecha=fecha, prueba='100m Libre', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(tablas[11].df[range(6)], fila_datos = 4, fecha=fecha, prueba='50m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[12].df, fila_datos = 4, fecha=fecha, prueba='100m Libre', m_f='F', tipo=3),
tabla_a_datos(tablas[12].df, fila_datos = 4, fecha=fecha, prueba='100m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(pd.DataFrame({0:['24.'],1:['ROMERO LAFUENTE, Paula'],2:[12],3:['P. San Agustin']
                  , 4:['2:14.80'], 5:['51']}), fila_datos = 0, fecha=fecha, prueba='100m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),

]

# for d in lista_df :
#     display(d)
    
    
campos_calculados(pd.concat(lista_df)).to_csv('competicion_'+competicion+'.csv', index=False)

Hacemos un resumen de los datos contando el número de nadadores por club:

In [4]:
# Resumen de datos

df=pd.read_csv('competicion_'+competicion+'.csv')

#df.pivot_table(df, values = 'Nombre',index='M_F', columns=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique()))
df.pivot_table(values = 'Nombre', columns='M_F', index=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique())).unstack().fillna(0).astype(int)

M_F                 F            M
Anyo_nac           10 11  12 13 10 11 12 13
Club
C.N. Helios         0  0   0  4  6  7  0  0
C.N. Iz Cuarte      0  0   0  0  1  0  0  0
C.N. Teruel         0  0   0  0  1  0  0  0
E.M. El Olivar      0  0  11  6  8  7  0  0
H2ogo C.N.          0  0   0  2  1  3  0  0
P. San Agustin      0  0   8  2  4  1  0  0
Stadium Casablanca  0  0   2  0  2  2  0  0
Stadium Venecia     0  0   4  6  2  3  0  0

Por último, añadimos todas las competiciones al archivo *base_datos.csv*:

In [5]:
# Actualizamos la base de datos

import glob

# Buscamos todos los ficheros csv correspondientes a competiciones los concatenamos y los grabamos en base de datos

lista_competiciones = glob.glob('competicion*.csv')
df=pd.concat([pd.read_csv(comp) for comp in lista_competiciones])
df.to_csv('base_datos.csv', index=False)
lista_competiciones

['competicion_Benjamín, jornada 1.csv']